app-root > app-component-sidenav {
  flex: 1;
}

app > router-outlet + app-component-sidenav {
  margin-top: 56px;
  overflow-y: auto;
}

.docs-component-sidenav-inner-content {
  display: flex;
  flex-direction: column;
}
