<!-- buttons on the right  -->
<div class="git" id="git">
  <a
    href="https://github.com/hiredtocode"
    target="_"
    rel="noopener"
    aria-label="Hiredtocode GitHub Repository"
    aria-disabled="false"
    ><img
      height="60"
      width="85"
      class="git"
      src="../../../assets/img/homepage/github-logo.png"
      alt="Github"
  /></a>

  <a
    href="https://gitlab.com/hiredtocode"
    target="_"
    rel="noopener"
    aria-label="Hiredtocode GitLab Repository"
    aria-disabled="false"
    ><img
      height="70"
      width="85"
      class="git"
      src="../../../assets/img/homepage/gitlab-logo.png
    "
      alt="Gitlab"
  /></a>
</div>

<!-- <app-github-button></app-github-button>
  <app-gitlab-button></app-gitlab-button> -->
