<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-logo">
      <div class="footer-logo">
        <img src="" alt="" class="docs-footer-anuglar-logo" />
        <span><a href="#">something</a></span>
      </div>
    </div>
    <div class="docs-footer-version">
      <img src="" alt="" />
      <span class="version">version</span>
    </div>
    <div class="docs-footer-copyright">
      <div>
        <span>Powered by Angular ©2020~</span>
      </div>
    </div>
  </div>
</footer>
