<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" [disableClose]="true">
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">About</a>
      <a mat-list-item href="#">Blog</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--<button (click)="opened = !opened">toggle</button>
    <button (click)="sidenav.open()">open</button>
    <button (click)="sidenav.close()">close</button>-->
    <button (click)="sidenav.toggle()">toggle side menu</button>
  </mat-sidenav-content>
</mat-sidenav-container>
