<nav class="docs-navbar-header" toolbar color="primary">
  <button mat-icon-button class="menu-icon" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button>
    <a routerLink="/main" routerLinkActive="active">Main</a>
  </button>
  <button>
    <a routerLink="/resume" routerLinkActive="active">Resume</a>
  </button>
  <button>
    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
  </button>
  <!-- <app-main-page-button></app-main-page-button>
  <app-resume-page-button></app-resume-page-button>
  <app-portfolio-page-button></app-portfolio-page-button> -->

  <span class="spacer"></span>
  <app-github-button class="github-icon"></app-github-button>
  <app-gitlab-button class="gitlab-icon"></app-gitlab-button>
</nav>
