.spacer {
  flex-grow: 1;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.docs-navbar-header {
  display: flex;
  background-color: rgb(231, 231, 231);
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.menu-icon .github-icon .gitlab-icon {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

nav a.active {
  color: lightskyblue;
}
