<nav class="nav-container">
  <!-- Menu button at the top left side -->
  <!-- //TODO Menu button toggle "https://www.youtube.com/watch?v=v8NpQYH2O5M" -->
  <a routerLink="/">
    <img id="logo" src="../../assets/img/homepage/jh-logo.png" alt="" />
  </a>
  <!-- Spacer -->
  <span class="spacer"></span>
  <!-- Page navigation middle section -->
  <ul class="nav nav-links" role="navigation">
    <li mat-button *ngFor="let link of links">
      <a routerLink="/{{ link }}">{{ link | uppercase }}</a>
    </li>
  </ul>
  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- buttons on the right  -->
  <a
    href="https://github.com/hiredtocode"
    target="_"
    rel="noopener"
    aria-label="Hiredtocode GitHub Repository"
    aria-disabled="false"
    ><img
      class="git"
      src="../../../assets/img/homepage/github-logo.png"
      alt="Github"
  /></a>
  <a
    href="https://gitlab.com/hiredtocode"
    target="_"
    rel="noopener"
    aria-label="Hiredtocode GitLab Repository"
    aria-disabled="false"
    ><img
      class="git"
      src="../../../assets/img/homepage/gitlab-logo.png
        "
      alt="Gitlab"
  /></a>

  <!-- <app-github-button></app-github-button>
  <app-gitlab-button></app-gitlab-button> -->
</nav>
