<ul class="nav-list">
  <button class="nav-toggle">
    <span class="hamburgerMenu"></span>
  </button>
  <li class="nav-item"><a href="#" class="nav-link">Test 1</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Test 2</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Test 3</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Test 4</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Test 5</a></li>
  <li class="nav-item"><a href="#" class="nav-link">Test 6</a></li>
</ul>
