<mat-sidenav-container>
  <mat-sidenav-content class="mat-drawer-content mat-sidenav-content">
    <div class="docs-component-sidenav-content">
      <div class="docs-component-sidenav-inner-content">
        <main class="docs-component-sidenav-body-content">
          <app-sidenav-items></app-sidenav-items>
          <router-outlet></router-outlet>
          <app-viewer></app-viewer>
          <div class="toc-container">
            <div class="toc-inner">
              <ul class="toc-list">
                <li class="h1 ng-star-inserted">Title1</li>
                <li class="h2 ng-star-inserted">Title2</li>
                <li class="h2 ng-star-inserted">Title3</li>
              </ul>
            </div>
          </div>
        </main>
        <app-footer></app-footer>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
